.filmInfo {
    margin-top: 150px;

    &__table {
        width: 100%;

        &_left {
            margin-right: 20px;
        }
    }

    &__tables {
        display: flex;
        justify-content: space-between;
    }
}
