.actorsSliderItem {
    display: flex;
    justify-content: center;
    align-items: center;

    &__inner {
        display: inline-flex;
        align-items: center;
        min-width: 350px;
        background-color: var(--background-color-assets);
        border-radius: 70px;
        padding: 10px;
        height: 105px;
    }

    &__img {
        margin-right: 15px;
        border-radius: 50%;
        overflow: hidden;

        img {
            height: 80px;
            width: 80px;
            object-fit: cover;
        }
    }

    &__name {
        font-size: var(--font-size-l);
        font-weight: var(--font-weight-l);
        margin: 0 auto;
    }
}
