.sliderFilm {
    position: relative;
    height: 1200px;

    &__fade {
        position: absolute;
        z-index: 1;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 1) 6%,
            rgba(0, 0, 0, 0.3) 42%,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0) 84%
        );
        bottom: 0px;
        right: 0;
        left: 0;
        height: 500px;
    }

    &__rating {
        display: flex;
        margin-bottom: 20px;
    }

    &__backdrop {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: linear-gradient(
                to right,
                rgba(0, 0, 0, 0.9),
                rgba(0, 0, 0, 0.8),
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0)
            );
            pointer-events: none;
            z-index: 1;
        }

        &_img {
            object-fit: cover;
        }
    }

    &__left {
        position: relative;
        z-index: 4;
        display: flex;
        padding: 50px;
        padding-top: 300px;
        flex-direction: column;
        height: 100%;
        width: 40%;
    }

    &__logo {
        display: flex;
        align-items: center;
        height: 300px;
        margin-bottom: 50px;

        &_img {
            max-width: 500px;
            height: auto;
        }
    }

    &__ageRating {
        font-size: var(--font-size-xl);
        color: var(--font-color-optional);
        position: absolute;
        right: 0;
        top: -45px;
    }

    &__description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }

    &__btn {
        margin-top: auto;
    }

    &__assets {
        margin-bottom: 20px;

        &_ageRating {
            position: relative;
            display: inline-block;
        }

        &_last {
            margin-bottom: 50px;
        }
    }
}
